
.skillContainer {
  display: flex;
  flex-wrap: wrap;
  font-size: 12px;
  justify-content: center;
  margin-bottom: 4rem;
}

h4 {
  color: white;
  display: flex;
  justify-content: center;
  margin-top: 0.9rem;
  font-weight: 200;
}

.icon {
  margin: .5rem 0.5rem 0 0.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 4.3rem;
}

