.navbar {
  width: 100%;
  height: 5rem;
  background: #0b10d4;
  display: flex;
  justify-content: right;
  align-items: center;
}

.links {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: right;
  align-items: center;
  color: white;
}

a {
  color: white;
  padding: 1rem;
  text-decoration: none;
}

p {
  width: 15rem;
  color: white;
  padding: 1rem;
}

.menu {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.menu svg {
  font-size: 50px;
}

.menu button {
  margin-top: 0.5rem;
  margin-right: 1rem;
  background-color: transparent;
  border: none;
  color: white;
  cursor: pointer;
}

#open {
  height: 100vh;
}

/* #open a {
  width: 100%;
  text-align: center;
} */

/* @media only screen and (max-width: 900px) {
  .navbar a {
    width: 70px;
  }
} */

@media only screen and (max-width: 600px) {
  .menu {
    margin-top: 10px;
    display: flex;
  }

  #close .links {
    display: none;
  }

  #open .links {
    flex-direction: column;
    justify-content: flex-start;
    margin-top: 6rem;
  }

  .navbar {
    height: 5rem;
    background: #0b10d4;
    display: inline-block;
  }
}

@media only screen and (min-width: 600px) {
  .menu {
    display: none;
  }

  #open {
    height: 5rem;
  }

  #open .links {
    flex-direction: row;
  }
}
